/* Can't style the html tag with theme-ui, so put styles in here */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}
@font-face {
  font-family: "Lunchtype22";
  src: url('fonts/Lunchtype22-Regular.ttf') format('truetype'),
}